@media (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }

    nav ul li {
        margin-right: 2rem;
        margin-bottom: 0;
    }
}

@media (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    figure {
        margin: 0;
    }
}


